*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://images.unsplash.com/photo-1577017040065-650ee4d43339?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container input{
    width: 300px;
    height: 37px;
    border: none;
    outline: none;
    padding-left: 20px;
    border: 1px solid orchid;
}
.container button {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background-color: orchid;
    color: #fff;
}
.container button:hover{
    background-color: rgba(218, 112, 214, 0.784);
    color: antiquewhite;
}
.container a{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
.container h1{
    text-align: center;
}
.container i{
    color: black;
    font-size: 22px;
    padding: 10px;
}
.container .btn1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background-color: orchid;
    color: #fff;
}

::placeholder , label{
    font-size: 15px;
    font-weight: bold;
}

label{
    font-size: 18px;
    font-weight: bold;
}